## Observations and Insights

In [48]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as sts
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
master_data = pd.merge(mouse_metadata, study_results, on="Mouse ID")
# Display the data table for preview
master_data_df=pd.DataFrame(master_data)
master_data_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [49]:
# Checking the number of mice.
mouse_list=master_data_df["Mouse ID"].unique()
mouse_count=len(mouse_list)
mouse_count

249

In [50]:
#determine how many timepoints there should be for each record
timepointcount=master_data_df.nunique()["Timepoint"]
timepointcount

10

In [51]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

#group the data by mouse ID and identify any ID with too many timepoints 
mouse_group=master_data_df.groupby("Mouse ID").count()
mouse_group=mouse_group.sort_values("Timepoint", ascending=False)
mouse_group

,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
Mouse ID,,,,,,,
g989,13,13,13,13,13,13,13
a203,10,10,10,10,10,10,10
n364,10,10,10,10,10,10,10
m546,10,10,10,10,10,10,10
m550,10,10,10,10,10,10,10
...,...,...,...,...,...,...,...
x226,1,1,1,1,1,1,1
b447,1,1,1,1,1,1,1
f932,1,1,1,1,1,1,1
l872,1,1,1,1,1,1,1
n482,1,1,1,1,1,1,1

In [52]:
# Optional: Get all the data for the duplicate mouse ID. 

#duplicate_mouse = master_data_df["Mouse ID"== "g989"]
#duplicate_mouse.head()

In [53]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_mice = master_data_df.loc[master_data_df["Mouse ID"] != "g989"]
clean_mice

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [54]:
# Checking the number of mice in the clean DataFrame.
clean_mice_count = clean_mice.nunique()["Mouse ID"]
clean_mice_count

248

## Summary Statistics

In [80]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.
tumor_vol = clean_mice["Tumor Volume (mm3)"]
drugs= clean_mice["Drug Regimen"].unique()

tumor_mean= [np.mean(tumor_vol)for each in drugs]
tumor_median= [np.median(tumor_vol)for each in drugs]
tumor_var= [np.var(tumor_vol)for each in drugs]
tumor_std= [np.std(tumor_vol)for each in drugs]


drug_tumorvol_summary=pd.DataFrame({"Drug Regimen":drugs, "Tumor Volume Mean":tumor_mean, "Tumor Volume Median":tumor_median,
                                  "Tumor Vol. Variance":tumor_var, "Tumor STD":tumor_std})
drug_tumorvol_summary

,Drug Regimen,Tumor Volume Mean,Tumor Volume Median,Tumor Vol. Variance,Tumor STD
0,Ramicane,50.435293,48.933454,79.42064,8.911826
1,Capomulin,50.435293,48.933454,79.42064,8.911826
2,Infubinol,50.435293,48.933454,79.42064,8.911826
3,Placebo,50.435293,48.933454,79.42064,8.911826
4,Ceftamin,50.435293,48.933454,79.42064,8.911826
5,Stelasyn,50.435293,48.933454,79.42064,8.911826
6,Zoniferol,50.435293,48.933454,79.42064,8.911826
7,Ketapril,50.435293,48.933454,79.42064,8.911826
8,Propriva,50.435293,48.933454,79.42064,8.911826
9,Naftisol,50.435293,48.933454,79.42064,8.911826

In [87]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line
summary_aggregation=[(clean_mice.describe()["Tumor Volume (mm3)"]) for each in drugs]
summary_aggregation

[count    1880.000000
 mean       50.435293
 std         8.914197
 min        22.050126
 25%        45.000000
 50%        48.933454
 75%        56.324075
 max        78.567014
 Name: Tumor Volume (mm3), dtype: float64,
 count    1880.000000
 mean       50.435293
 std         8.914197
 min        22.050126
 25%        45.000000
 50%        48.933454
 75%        56.324075
 max        78.567014
 Name: Tumor Volume (mm3), dtype: float64,
 count    1880.000000
 mean       50.435293
 std         8.914197
 min        22.050126
 25%        45.000000
 50%        48.933454
 75%        56.324075
 max        78.567014
 Name: Tumor Volume (mm3), dtype: float64,
 count    1880.000000
 mean       50.435293
 std         8.914197
 min        22.050126
 25%        45.000000
 50%        48.933454
 75%        56.324075
 max        78.567014
 Name: Tumor Volume (mm3), dtype: float64,
 count    1880.000000
 mean       50.435293
 std         8.914197
 min        22.050126
 25%        45.000000
 50%        48.933454
 75%        56.324075
 max        78.567014
 Name: Tumor Volume (mm3), dtype: float64,
 count    1880.000000
 mean       50.435293
 std         8.914197
 min        22.050126
 25%        45.000000
 50%        48.933454
 75%        56.324075
 max        78.567014
 Name: Tumor Volume (mm3), dtype: float64,
 count    1880.000000
 mean       50.435293
 std         8.914197
 min        22.050126
 25%        45.000000
 50%        48.933454
 75%        56.324075
 max        78.567014
 Name: Tumor Volume (mm3), dtype: float64,
 count    1880.000000
 mean       50.435293
 std         8.914197
 min        22.050126
 25%        45.000000
 50%        48.933454
 75%        56.324075
 max        78.567014
 Name: Tumor Volume (mm3), dtype: float64,
 count    1880.000000
 mean       50.435293
 std         8.914197
 min        22.050126
 25%        45.000000
 50%        48.933454
 75%        56.324075
 max        78.567014
 Name: Tumor Volume (mm3), dtype: float64,
 count    1880.000000
 mean       50.435293
 std         8.914197
 min        22.050126
 25%        45.000000
 50%        48.933454
 75%        56.324075
 max        78.567014
 Name: Tumor Volume (mm3), dtype: float64]

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen